<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>${title}</title>
    <link rel="stylesheet" media="all" href="entry.css">
</head>

<body lang="zh-CN" class="reader-black-font">
<div class="note">
    <div class="post">
        <div class="article">
            <h1 class="title">${title}</h1><h4>${date}</h4>

            <!-- 作者区域 -->
            <div class="author"></div>

            <!-- 文章内容 -->
            <div data-note-content="" class="show-content">
                <div class="show-content-free">
${body}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>